.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

@media (max-width: 377px) {
    .max-\[377px\]\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
}