---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found">
    <div class="h-screen flex flex-col items-center">
        <h1 class="text-9xl">404</h1>
        <p>Page Not Found</p>
        <a href="/" class="btn my-5">Back to Home</a>
    </div>
</BaseLayout>
