---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="pb-12 mt-5 h-screen">
        <!-- <h1>Acknowledgement</h1> -->
        <p>Thanks to <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">Manuel Ernesto</a> for this <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="font-bold">Template</a></p>
        <p>Thanks to <a href="http://astro.build" target="_blank" class="font-bold">Astro</a></p>
        <p>Thanks to <a href="http://tailwindcss.com" target="_blank" class="font-bold">tailwindcss</a></p>
        <p>Thanks to <a href="http://daisyui.com" target="_blank" class="font-bold">daisyUI</a></p>
        <p>Image courtesy of <a href="http://bitmoji.com" target="_blank" class="font-bold">Bitmoji</a>, <a href="/profile.webp" class="font-bold">Profile Image</a>, <a href="/favicon.svg" class="font-bold">Favicon</a></p>
    </div>
</BaseLayout>