<!-- Put this part before </body> tag -->
<input type="checkbox" id="contact" class="modal-toggle" />
<label for="contact" class="modal cursor-pointer">
<label class="modal-box relative" for="">
    <h3 class="font-bold text-lg">Contact</h3>
    <p class="py-3">If you'd like to get in touch with me, you can send an email to <span class="badge badge-ghost cursor-text select-all selection:bg-primary selection:bg-opacity-50">hello@krishna-santosh.com</span> or contact me via my social media accounts. Just send me a message on whichever platform you prefer, and I'll do my best to respond as soon as possible. Thank you for reaching out!</p>
    <div class="modal-action">
    <a href="mailto:hello@krishna-santosh.com" class="btn">Send Mail</a>
    </div>
</label>
</label>
