---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Krishna Santosh
  </div>
  <div class="inline opacity-75">
    <a href="/acknowledgement">Acknowledgement</a>
  </div>
</footer>
<style>

</style>
